//@import "~ant-design-vue/dist/antd.less";

:root {
  --test-variable: blue;
  --vt-font-family-base: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vt-font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  @apply flex justify-center;
  font-family: var(--vt-font-family-base);
  background-color: #F7F7F8;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  transition: color .5s, background-color .5s;
  -moz-osx-font-smoothing: grayscale;
}

.ant-table {

}


// Select
.ant-input {
  height: 38px;
  @apply rounded-2;
}
